<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="AikoYanye,Log,学习,博客,小站" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <link href="static\resource\bootstrap\css\bootstrap.css" rel="stylesheet">
    <link href="static\resource\js\all.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png" type="image/x-icon" />
    <script src="static\resource\bootstrap\js\bootstrap.js"></script>
    <script src="static\resource\wangeditor\wangEditor.min.js"></script>
    <script src="static\resource\js\main.js"></script>
    <script src="static\resource\js\title.js"></script>
    <script src="static\resource\js\content.js"></script>
    <script src="static\resource\js\comment.js"></script>
    <script src="static\resource\js\pan.js"></script>
    <script src="static\resource\js\search.js"></script>
    <title>魔法森林的雾雨万事屋</title>
</head>
<body style="background-image: url('/static/bg.png');background-size: cover;">
<div class="container">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: #FFF5EE;margin-top:15px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" onclick="window.location.reload();">
                    <img alt="LOGO" src="static/icon.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#main" role="tab" data-toggle="tab">
                        <span class="glyphicon glyphicon-home"></span>首页</a></li>
                    <li><a href="#title_tab" role="tab" data-toggle="tab" onclick="InitTitleTab({{ userId }})">
                        <span class="glyphicon glyphicon-th-list"></span>分类</a></li>
                    {% if current %}
                    <li><a href="#" data-toggle="modal" data-target="#add_title">
                        <span class="glyphicon glyphicon-th-large"></span>添加分类</a></li>
                    <li><a href="#add_content_tab" role="tab" data-toggle="tab" onclick="InitAddContentTab({{ userId }})">
                        <span class="glyphicon glyphicon-pencil"></span>添加文章</a></li>
                    <li><a href="#pan" role="tab" data-toggle="tab" onclick="InitPanTab('{{ user[1] }}')">
                        <span class="glyphicon glyphicon-cloud"></span>云盘</a></li>
                    {% end %}
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="关键字用%隔开" id="search_key">
                    </div>
                    <a href="#search_tab" role="tab" data-toggle="tab" onclick="Search({{ userId }})">
                        <button  type="button" class="btn btn-default glyphicon glyphicon-search"></button>
                    </a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if current %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ user[1] }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="CancelLogin()">注销</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#info">修改信息</a></li>
                            {% if type == "admin" %}
                            <li><a href="#" data-toggle="modal" data-target="#update_modal">更新事件</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#bg_modal">更换背景图</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#notice_modal">更换公告</a></li>
                            {% end %}
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="#" data-toggle="modal" data-target="#register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    {% end %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        <strong>不知道有没有人能看到，如果看到了，请你不要对这个垃圾网站乱来。</strong>
    </div>
    <div id="myTabContent" class="tab-content" style="margin-top:10px;">
        <div class="tab-pane fade in active" id="main">
            <div class="jumbotron jumbotron-fluid" style="margin-top: 30px;background-color: #FFF5EE;">
                <div class="container">
                    {% if current %}
                    <h1 class="display-4">你好啊，{{ user[1] }}</h1>
                    <p class="lead">现在你不仅能随便看看，还能随便写写</p>
                    {% else %}
                    <h1 class="display-4">你还没登录啊</h1>
                    <p class="lead">所以你只能随便看看</p>
                    {% end %}
                    <p class="lead" id="notice"></p>
                </div>
            </div>
            {% block update_list %}{% end %}
        </div>
        <div class="tab-pane fade" id="title_tab"></div>
        <div class="tab-pane fade" id="search_tab">{% block search %}{% end %}</div>
        {% if current %}<div class="tab-pane fade" id="add_content_tab">{% block add_content %}{% end %}</div>{% end %}
        <div class="tab-pane fade" id="content_list_tab"></div>
        <div class="tab-pane fade" id="content">{% block content %}{% end %}</div>
        {% if current %}<div class="tab-pane fade" id="pan">{% block pan %}{% end %}</div>{% end %}
    </div>
    {% if current %}
    {% block update_modal %}{% end %}
    {% block user_info %}{% end %}
    {% block add_title %}{% end %}
    {% block edit_title %}{% end %}
    {% end %}
    {% block register %}{% end %}
    {% block login %}{% end %}
    {% block alert %}{% end %}
</div>
</body>
</html>